.navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: hsla(0,0%,100%,.5);
    backdrop-filter: blur(8px);
    width: 100%;
    height: 64px;
    position: sticky;
    top: 0;
    left: 0;
    padding: 20px 32px;
    z-index: 100;
}