@import "../media.scss";

.article {
  color: var(--primary-color);
  width: 50rem;
  margin: auto;

  .title {
    margin-bottom: 1rem;
  }

  .info {
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: var(--secondary-color);
    opacity: 0.6;
    margin-bottom: 2.5rem;
  }

  .description {
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: var(--secondary-color);
    padding-left: 1.25rem;
    margin-bottom: 2.5rem;
    position: relative;
  }

  .description::before {
    content: "";
    width: 0.25rem;
    height: 1.25rem;
    background-color: var(--secondary-color);
    opacity: 0.2;
    position: absolute;
    left: 0;
    bottom: -0.125rem;
  }

  .content {
    margin-bottom: 5rem;
    font-size: 16px;
    line-height: 32px;

    img {
      width: 50rem;
    }
  }
}

@include media-ipad {
  .article {
    width: 80%;
    .content {
      img {
        width: 100%;
      }
    }
  }
}

@include media-mobile {
  .article {
    width: 80%;
    .title {
      font-size: 1.75rem;
      line-height: 2.4375rem;
    }
    .content {
      h2 {
        font-size: 1.125rem;
        line-height: 1.5625rem;
      }
      img {
        width: 100%;
      }
    }
  }
}
