@import "~@douyinfe/semi-ui/dist/css/semi.min.css";

html[data-theme="dark"] {
  --primary-color: #ffffff;
  --primary-background-color: rgba(14, 14, 14, 1);
  --footer-background-color: rgba(36, 36, 36, 1);
  --navbar-background-color: rgba(0, 0, 0, 0.5);
  --secondary-color: rgba(255, 255, 255, 0.5);
  --link-color: #34a8eb;
  --semi-page-active-color: rgb(84, 169, 255);
  --semi-page-active-background-color: rgba(84, 169, 255, 0.2);
  --semi-page-hover-background-color: rgb(23, 23, 23);
  --navbar-icon: url("../public/logo_dark.png");
  --theme-icon: url("../public/theme_dark.png");
  --popup-close-icon: url("../public/close.png");
  --popup-close-hover-background-color: #353535;
  --popup-content-background-color: #1f1f1f;
  --home-background-icon: url("../public/home_bg_dark.png");
  --home-background-icon-webp: url("../public/home_bg_dark.webp");
}

html[data-theme="light"] {
  --primary-color: #333333;
  --primary-background-color: rgba(255, 255, 255, 1);
  --footer-background-color: #f4f5f5;
  --navbar-background-color: rgba(255, 255, 255, 0.5);
  --secondary-color: #666666;
  --link-color: #0070f3;
  --semi-page-active-color: #333333;
  --semi-page-active-background-color: rgb(234, 245, 255);
  --semi-page-hover-background-color: rgb(244, 245, 245);
  --navbar-icon: url("../public/logo_light.png");
  --theme-icon: url("../public/theme_light.png");
  --popup-close-icon: url("../public/close_light.png");
  --popup-close-hover-background-color: #f5f5f5;
  --popup-content-background-color: #f4f5f5;
  --home-background-icon: url("../public/home_bg_light.png");
  --home-background-icon-webp: url("../public/home_bg_light.webp");
}

html,
body {
  font-size: 16px;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: var(--primary-color);
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.forbidScroll {
  height: 100vh;
  overflow: hidden;
}

#__next {
  height: 100vh;
  overflow: auto;
}
